<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <script type="text/javascript" src="/manager/js/lib/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/manager/js/lib/popper.min.js"></script>
        <script type="text/javascript" src="/manager/js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="/manager/js/lib/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/manager/js/lib/datatables.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/manager/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/manager/css/lib/bootstrap-grid.min.css" />
        <link rel="stylesheet" type="text/css" href="/manager/css/lib/bootstrap-reboot.min.css" />
		<link rel="stylesheet" type="text/css" href="/manager/css/lib/datatables.min.css"/>

		<script type="text/javascript" src="/manager/js/pages/loghistory.js"></script>
    	<link rel="stylesheet" type="text/css" href="/manager/css/pages/loghistory.css"/>

        <title>Machine Manager v1.0 - Log History</title>
    </head>
    
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Machine Manager</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/manager/web/home">Home</a>        
            </nav>
        </div>
        
        <div class="container justify-content-center align-items-center">
	        <div id="history_content"class="container">
	            <div class="row">
	                <h4>Online Devices</h4>
	            </div>
	
	            <div class="row pt-2">
	                <table class="table table-striped display m-0" id="devices_table">
	                    <thead>
	                        <tr style="font-size: 14px">
	                        	<th width="30px">Status</th>
	                            <th width="150px">Hostname</th>
	                            <th width="100px">IP</th>
	                            <th width="30px">Port</th>
	                            <th width="150px">Windows</th>
	                            <th width="100px">dotNet</th>
	                            <th width="30px">AV</th>
	                            <th width="30px">FW</th>
	                            <th width="100px">Disk Avail.</th>
	                            <th width="100px">Disk Total</th>
	                            <th width="50px">History</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                            <td>-</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
        	</div>
    	</div>
    </body>
</html>